.results {
  display: flex;
  gap: 20px;
}

.img {
  width: 350px;
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.results__view {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid #9a9a9a;
  padding: 20px;
  margin: 0px 0px 0px 20px;
}

.results__view-title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px 0px 20px;
  width: 150px;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow: scroll;
}
.list-item {
  width: 100%;
  max-width: 350px;
  list-style: none;
}

.results__favorites {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.results__favorite__add {
  width: 150px;
  height: 170px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid #9a9a9a;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.results__favorite-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.results__favorite-btn {
  width: 150px;
  padding: 10px;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 10px;
  border: 0.5px solid #9a9a9a;
  cursor: pointer;
}

.results__favorite-btn:hover {
  background-color: #0962c2;
}

.results__favorite__logo {
  width: 150px;
  height: 150px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("../../assets/ball.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  border: 0.5px solid #9a9a9a;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
