#root {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 255, 226, 1) 35%,
    rgba(196, 255, 194, 1) 65%,
    rgba(161, 255, 159, 1) 100%
  );
  border-radius: 5px;
}
